# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Compiled
*.class

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.classpath
.project
.eclipse/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
